.card-content {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;
  align-items: stretch;
  text-wrap: wrap;
  height: 30rem;

  .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2.5rem;

    img {
      width: fit-content;
      height: fit-content;
    }
  }

  h5, h3 {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.ah-card {
  position: relative;
  animation: card-slide 1s cubic-bezier(.7, .01, .42, .54);
}

@keyframes card-slide {
  0% {
    top: -3rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
