.startup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;

  .header {
    font-size: 4rem;
  }

  .content {
    margin-top: 1rem;
  }
}
