<div [cdsTheme]="theme" class="full-height">
  <cds-header name="Hive" brand="Arc">
    <cds-hamburger [active]="hamburgerOpen" (selected)="hamburgerOpen = !hamburgerOpen">
    </cds-hamburger>

    <cds-header-global>
      <app-theme-selector [(theme)]="theme"/>
    </cds-header-global>
  </cds-header>
  <cds-sidenav [expanded]="hamburgerOpen">
    <cds-sidenav-item [active]="true" routerLink="search">
      <svg cdsIcon="search" size="16"></svg>
      Search
    </cds-sidenav-item>
    <cds-sidenav-item>
      <svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <defs>
          <style>.cls-1 {
            fill: none;
          }</style>
        </defs>
        <title>table</title>
        <path
          d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z"/>
        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
              height="32"/>
      </svg>
      Results
    </cds-sidenav-item>
  </cds-sidenav>

  <div class="page-content">
    <router-outlet/>
  </div>
</div>
