<div [cdsTheme]="theme" class="full-height">
  <cds-header name="Hive" brand="Arc" routerLink="/">
    <cds-hamburger [active]="hamburger_open" (selected)="hamburger_open = !hamburger_open">
    </cds-hamburger>

    <cds-header-global>
      <app-theme-selector [(theme)]="theme"/>
    </cds-header-global>
  </cds-header>
  <cds-sidenav [expanded]="hamburger_open">
    <cds-sidenav-item [active]="matches_route('search')" routerLink="search">
      <svg cdsIcon="search" size="16"></svg>
      Search
    </cds-sidenav-item>
    <cds-sidenav-item [active]="matches_route('results')" routerLink="results">
      <svg class="themed-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
        <defs>
          <style>
            .cls-1 {
              fill: none;
            }
          </style>
        </defs>
        <path d="M28,10H4A2.0022,2.0022,0,0,1,2,8V4A2.0021,2.0021,0,0,1,4,2H28a2.0021,2.0021,0,0,1,2,2V8A2.0022,2.0022,0,0,1,28,10ZM4,4V8H28V4Z" transform="translate(0 -0.0001)"/>
        <path d="M28,30H4a2.0022,2.0022,0,0,1-2-2V24a2.0021,2.0021,0,0,1,2-2H28a2.0021,2.0021,0,0,1,2,2v4A2.0022,2.0022,0,0,1,28,30ZM4,24v4H28V24Z" transform="translate(0 -0.0001)"/>
        <path d="M28,20H4a2.0022,2.0022,0,0,1-2-2V14a2.0021,2.0021,0,0,1,2-2H28a2.0021,2.0021,0,0,1,2,2v4A2.0022,2.0022,0,0,1,28,20ZM4,14v4H28V14Z" transform="translate(0 -0.0001)"/>
        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
      </svg>
      Results
    </cds-sidenav-item>
  </cds-sidenav>

  <div class="page-content">
    <router-outlet/>
  </div>
</div>
