.details-whole {
  &.cds--g90,
  &.cds--g100 {
    * {
      --ah-plan-to-read: rgb(0, 83, 154);
      --ah-reading: rgb(0, 93, 93);
      --ah-finished: rgb(14, 96, 39);
    }
  }

  &.cds--white,
  &.cds--g10 {
    * {
      --ah-plan-to-read: rgb(130, 207, 255);
      --ah-reading: rgb(61, 219, 217);
      --ah-finished: rgb(111, 220, 140);
    }
  }

  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;

  @media not all and (min-width: 1000px) {
    flex-flow: row wrap;
  }
}

.details-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tag-set {
  display: flex;
  flex-flow: row wrap;
}

.details-header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.details-cover {
  min-width: 15%;
  width: fit-content;
  flex-shrink: 0;

  img {
    max-height: 80vh;
    max-width: 70vw;
  }
}

.details-authors {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
}

.stats {
  .stats-bar {
    display: flex;
    @media not all and (min-width: 1000px) {
      display: block;
    }

    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    min-height: 2rem;

    .bar-elem {
      display: inline-block;
      @media not all and (min-width: 1000px) {
        display: block;
      }
    }

    div {
      height: 100%;
      padding: .5rem;
    }
  }

  .stats-legend {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;

    div {
      padding: .5rem;
    }
  }

  .stats-want {
    background-color: var(--ah-plan-to-read);
  }

  .stats-current {
    background-color: var(--ah-reading);
  }

  .stats-done {
    background-color: var(--ah-finished);
  }
}
