<div class="details-whole" [cdsTheme]="theme$ | async">
  <div class="details-cover">
    <img [src]="cover$ | async" alt="Cover art">
  </div>

  <div class="details-page">
    <div class="details-header">
      <h1>{{ (work$| async)?.title }}</h1>

      <div class="details-authors">
        <cds-tooltip *ngFor="let a of (work$ | async)?.authors"
                     [description]="'Also known as: ' + a.alt_names.join(', ')"
                     [disabled]="a.alt_names.length == 0">
          <a cdsLink target="_blank" [href]="a.link">
            {{ a.name }}
          </a>
        </cds-tooltip>
      </div>
    </div>

    <markdown [data]="(work$|async)?.description || '# No description available'"/>

    <cds-accordion>
      <cds-accordion-item title="Tags" class="tag-set">
        <cds-tag *ngFor="let a of (work$ | async)?.subjects">{{ a }}</cds-tag>
      </cds-accordion-item>

      <cds-accordion-item title="External links" class="link-set">
        <div *ngFor="let a of (work$ | async)?.links">
          <a cdsLink [href]="a.url" target="_blank">
            {{ a.renderTitle }}

            <svg class="themed-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
              <defs>
                <style>
                  .cls-1 {
                    fill: none;
                  }
                </style>
              </defs>
              <path
                d="M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z"/>
              <polygon points="20 2 20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2"/>
              <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32"
                    height="32"/>
            </svg>
          </a>
        </div>
      </cds-accordion-item>

      <cds-accordion-item class="stats" title="Statistics" [expanded]="true">
        <div class="stats-legend">
          <div class="stats-want">Want to read</div>
          <div class="stats-current">Currently reading</div>
          <div class="stats-done">Done reading</div>
        </div>
        <div class="stats-bar">
          <cds-tooltip class="bar-elem"
                       style="{{ 'width: ' + ((stats$ | async)?.want_percentage + '%' || '1rem') }};"
                       description="{{ ((((stats$ | async)?.want_percentage || 1) /100 | percent) || 'Unknown amount') }} of responders">
            <div class="stats-want">
              {{ (stats$ | async)?.want_to_read  | number:'1.0-0' }}
            </div>
          </cds-tooltip>
          <cds-tooltip class="bar-elem"
                       style="{{ 'width: ' + ((stats$ | async)?.current_percentage + '%' || '1rem') }};"
                       description="{{ ((((stats$ | async)?.current_percentage || 1) /100 | percent) || 'Unknown amount') }} of responders">
            <div class="stats-current">
              {{ (stats$ | async)?.current | number:'1.0-0' }}
            </div>
          </cds-tooltip>
          <cds-tooltip class="bar-elem"
                       style="{{ 'width: ' + ((stats$ | async)?.read_percentage + '%' || '1rem') }};"
                       description="{{ ((((stats$ | async)?.read_percentage || 1) /100 | percent) || 'Unknown amount') }} of responders">
            <div class="stats-done">
              {{ (stats$ | async)?.already_read | number:'1.0-0' }}
            </div>
          </cds-tooltip>
        </div>
      </cds-accordion-item>
    </cds-accordion>
  </div>
</div>

