/* Error: Can't find stylesheet to import.
 *   ,
 * 3 | / @use "@carbon/styles" with (
 * 4 | |   $font-path: '@ibm/plex'
 * 5 | | );
 *   | '-^
 *   '
 *   styles.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 3 \2502  \250c  @use \"@carbon/styles\" with (\a 4 \2502  \2502    $font-path: '@ibm/plex'\a 5 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   styles.scss 3:1  root stylesheet";
}
