<div class="searches">
  <div class="primary-search">
    <h2 class="search-head">Search for title, author, publisher...</h2>

    <cds-text-label>
      <input cdsText
             placeholder="...anything, all in one place!"
             size="lg"
             (keyup.enter)="search(simple)"
             [(ngModel)]="simple.query">
    </cds-text-label>
    <div class="search-button">
      <button [isExpressive]="true"
              cdsButton="primary"
              (click)="search(simple)">
        Search
        <svg class="cds--btn__icon" cdsIcon="search" size="16"></svg>
      </button>
    </div>
  </div>

  <div class="search-sep">
    <div></div>
    OR
    <div></div>
  </div>

  <div class="detailed-search">
    <h2 class="search-head">Specify search fields explicitly</h2>

    <div class="detailed-search-fields">
      <cds-text-label class="detailed-search-elem">
        <h4>Title</h4>
        <input cdsText
               size="md"
               placeholder="A study in scarlet"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.title">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Author</h4>
        <input cdsText
               size="md"
               placeholder="Shakespeare"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.author">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Subject</h4>
        <input cdsText
               size="md"
               placeholder="dystopia"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.subject">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Place</h4>
        <input cdsText
               size="md"
               placeholder="Hogwarts"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.place">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Language</h4>
        <input cdsText
               size="md"
               placeholder="Klingon"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.language">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Publisher</h4>
        <input cdsText
               size="md"
               placeholder="Manning"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.publisher">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Published after</h4>
        <input cdsText
               size="md"
               placeholder="4000 BC"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.publish_after">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Published before</h4>
        <input cdsText
               size="md"
               placeholder="2000"
               (keyup.enter)="search(complex)"
               [(ngModel)]="complex.published_before">
      </cds-text-label>
    </div>

    <div class="search-button">
      <button [isExpressive]="true"
              cdsButton="primary"
              (click)="search(complex)">
        Advanced search

        <svg class="cds--btn__icon" cdsIcon="search" size="16"></svg>
      </button>
    </div>
  </div>

</div>

