<div class="searches">
  <div class="primary-search">
    <h2>Search for title, author, publisher...</h2>
    <cds-text-label>
      <input cdsText
             placeholder="...anything, all in one place!"
             size="lg">
    </cds-text-label>
    <div class="search-button">
      <button [isExpressive]="true"
              cdsButton="primary">
        Search
        <svg class="cds--btn__icon" cdsIcon="search" size="16"></svg>
      </button>
    </div>
  </div>

  <div class="search-sep">
    <div></div>
    OR
    <div></div>
  </div>

  <div class="detailed-search">
    <h2>Specify search fields explicitly</h2>

    <div class="detailed-search-fields">
      <cds-text-label class="detailed-search-elem">
        <h4>Title</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Author</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Subject</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Place</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Language</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Publisher</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Published after</h4>
        <input cdsText size="md">
      </cds-text-label>
      <cds-text-label class="detailed-search-elem">
        <h4>Published before</h4>
        <input cdsText size="md">
      </cds-text-label>
    </div>

    <div class="search-button">
      <button [isExpressive]="true"
              cdsButton="primary">
        Advanced search

        <svg class="cds--btn__icon" cdsIcon="search" size="16"></svg>
      </button>
    </div>
  </div>

</div>

